<!-- Main content -->
<div class="content-wrapper">
    <div class="page-header page-header-default">
        <div class="page-header-content">
            <div class="page-title">
                <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Schedules</span> - Edit
                    Schedule ( {{repeat}} )</h4>
            </div>
        </div>

        <div class="breadcrumb-line">
            <ul class="breadcrumb">
                <li><a href="" routerLink="/home"><i class="icon-home2 position-left"></i> Home</a></li>
                <li><a href="" routerLink="/user/schedules"><i class="icon-task position-left"></i> Schedule</a></li>
                <li class="active">Edit Schedule ( {{ repeat }} ) </li>
            </ul>

        </div>
    </div>
    <div class="content">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">{{ repeat }} Schedule</h5>
                <div class="heading-elements">

                </div>
            </div>

            <div class="panel-body">
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" enctype="multipart/form-data"
                    novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label class="form-label">Priority</label>
                                <input type="number" class="form-control" min="1" max="5" placeholder="Priority"
                                    name="priority" [(ngModel)]="model.priority" #priority="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && priority.invalid }" required>
                                <div class="form-control-feedback">
                                    <i class="icon-stairs-up text-muted"></i>
                                </div>
                                <div *ngIf="priority.invalid && (priority.dirty || priority.touched)" class="invalid-feedback">  
                                    <div *ngIf="priority.errors.required">Priority is required</div>
                                    <div *ngIf="priority.errors.max">Number Must be beetween 1 and 5</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label class="form-label">Schedule Name</label>
                                <input type="text" class="form-control" placeholder="Schedule Name" name="name"
                                    [(ngModel)]="model.scheduleName" #name="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required>
                                <div class="form-control-feedback">
                                    <i class="icon-screen3 text-muted"></i>
                                </div>
                                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">  
                                    <div *ngIf="name.errors.required">Schedule name is required</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf="CONFIG.SCHE_YEAR === repeat">
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label class="form-label">First Year</label>
                                <input type="number" class="form-control" placeholder="First year" min="{{currentYear}}"
                                    name="firstyear" [(ngModel)]="model.firstYear" #firstyear="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && firstyear.invalid }" required>
                                <div class="form-control-feedback">
                                    <i class="icon-calendar text-muted"></i>
                                </div>
                                <div *ngIf="firstyear.invalid && (firstyear.dirty || firstyear.touched)" class="invalid-feedback">  
                                    <div *ngIf="firstyear.errors.required">First year is required</div>
                                 
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label class="form-label">Last Year</label>
                                <input type="number" class="form-control" placeholder="Last year" min="{{currentYear}}"
                                    name="lastyear" [(ngModel)]="model.lastYear" #lastyear="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && lastyear.invalid }" required>

                                <div class="form-control-feedback">
                                    <i class="icon-calendar text-muted"></i>
                                </div>
                                <div *ngIf="lastyear.invalid && (lastyear.dirty || lastyear.touched)" class="invalid-feedback">  
                                    <div *ngIf="lastyear.errors.required">Last year is required</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row" *ngIf="CONFIG.SCHE_YEAR !== repeat">
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label class="form-label">Start Date</label>
                                <input type="date" class="form-control" placeholder="Start Date" min="2018-01-01"
                                    max="9999-12-31" name="startdate" [(ngModel)]="model.startDate" #startdate="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && startdate.invalid }" required>
                                <div class="form-control-feedback">
                                    <i class="icon-calendar text-muted"></i>
                                </div>
                                <div *ngIf="startdate.invalid && (startdate.dirty || startdate.touched)" class="invalid-feedback">  
                                    <div *ngIf="startdate.errors.required">Enter valid start date</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label class="form-label">End Date</label>
                                <input type="date" class="form-control" placeholder="End Date" min="2018-01-01"
                                    max="9999-12-31" name="enddate" [(ngModel)]="model.endDate" #enddate="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && enddate.invalid }" required>
                                <div class="form-control-feedback">
                                    <i class="icon-calendar text-muted"></i>
                                </div>
                                <div *ngIf="enddate.invalid && (enddate.dirty || enddate.touched)" class="invalid-feedback">  
                                    <div *ngIf="enddate.errors.required">Enter valid end date</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label class="form-label">Start Time</label>
                                <input type="time" placeholder="Start Time" class="form-control" name="starttime"
                                    [(ngModel)]="model.startTime" #starttime="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && starttime.invalid }" required />
                                <div class="form-control-feedback">
                                    <i class="icon-watch2 text-muted"></i>
                                </div>
                                <div *ngIf="starttime.invalid && (starttime.dirty || starttime.touched)" class="invalid-feedback">  
                                    <div *ngIf="starttime.errors.required">Start Time is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label class="form-label">End Time</label>
                                <input type="time" placeholder="End Time" class="form-control" name="endtime"
                                    [(ngModel)]="model.endTime" #endtime="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && endtime.invalid }" required />
                                <div class="form-control-feedback">
                                    <i class=" icon-watch2 text-muted"></i>
                                </div>
                                <div *ngIf="endtime.invalid && (endtime.dirty || endtime.touched)" class="invalid-feedback">  
                                    <div *ngIf="endtime.errors.required">End Time is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="CONFIG.SCHE_DAYL === repeat">
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label class="form-label">Every N-th Day</label>
                                <input type="number" placeholder="Every N-th Day" class="form-control" name="nthday"
                                    [(ngModel)]="model.moduloYDay" #nthday="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && nthday.invalid }" required />
                                <div class="form-control-feedback">
                                    <i class="icon-reload-alt text-muted"></i>
                                </div>
                                <div *ngIf="nthday.invalid && (nthday.dirty || nthday.touched)" class="invalid-feedback">  
                                    <div *ngIf="nthday.errors.required">Every N-th Day is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="CONFIG.SCHE_WEEK === repeat">
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label class="form-label">Every N-th Week</label>
                                <input type="number" placeholder="Every N-th Week" class="form-control" name="nthweek"
                                    [(ngModel)]="model.moduloWeek" #nthweek="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && nthweek.invalid }" required />
                                <div class="form-control-feedback">
                                    <i class="icon-reload-alt text-muted"></i>
                                </div>
                                <div *ngIf="nthweek.invalid && (nthweek.dirty || nthweek.touched)" class="invalid-feedback">  
                                    <div *ngIf="nthweek.errors.required">Every N-th Week is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Week Days</label>
                                <div>
                                    <span *ngFor="let day of CONFIG.DAYS; let i = index">
                                        {{ day }} <p-checkbox name="days" value="{{i}}" [(ngModel)]="model.weekDays">
                                        </p-checkbox>&nbsp;
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="CONFIG.SCHE_MONT === repeat">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Month/Week</label>
                                <div>
                                    <p-radioButton name="monthorweek" value="month" label="Month Day"
                                        [(ngModel)]="model.monthorweek">
                                    </p-radioButton>
                                    &nbsp;
                                    <p-radioButton name="monthorweek" value="week" label="Week Day"
                                        [(ngModel)]="model.monthorweek">
                                    </p-radioButton>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" *ngIf="model.monthorweek === 'week'">
                            <div class="form-group">
                                <label class="form-label">Week Days</label>
                                <div>
                                    <span *ngFor="let day of CONFIG.DAYS; let i = index">
                                        {{ day }} <p-checkbox name="days" value="{{i}}" [(ngModel)]="model.weekDays">
                                        </p-checkbox>&nbsp;
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" *ngIf="model.monthorweek === 'month'">
                            <div class="form-group has-feedback">
                                <label class="form-label">On Month Day</label>
                                <input type="number" placeholder="On Month Day" min="1" max="31" class="form-control"
                                    name="monthday" [(ngModel)]="model.scheduleMonthDays" #monthday="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && monthday.invalid }" required />
                                <div class="form-control-feedback">
                                    <i class="icon-calendar52 text-muted"></i>
                                </div>
                                <div *ngIf="monthday.invalid && (monthday.dirty || monthday.touched)" class="invalid-feedback">  
                                    <div *ngIf="monthday.errors.required">On Month Day is required</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row" *ngIf="CONFIG.SCHE_MONT === repeat">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label">Months</label>
                                <div>
                                    <span *ngFor="let month of CONFIG.MONTHS; let i = index">
                                        {{ month }} <p-checkbox name="months" value="{{i}}"
                                            [(ngModel)]="model.scheduleMonths"></p-checkbox>
                                        &nbsp;
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="CONFIG.SCHE_YEAR === repeat">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">On Date <span class="ondate-overlay">{{ model.onDate | date:
                    ' dd MMMM' }}</span></label>
                                <input type="date" class="form-control" placeholder="On Date" name="ondate"
                                    [(ngModel)]="model.onDate" #ondate="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && ondate.invalid }" required>
                            </div>
                        </div>
                     
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" (click)="showDialog()" pButton label="Select Files"></button>

                        </div>
                    </div>
                    <div class="row">
                        <div> Uploaded File(s) :
                            <table class=" table table-strip table-responsive" *ngIf="files.length > 0">
                                <thead>
                                    <tr>
                                        <th>SR</th>
                                        <th>Image Name</th>
                                        <th>Duration (HH:mm:ss)</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let file of files; let i = index">
                                        <td>{{i + 1}}</td>
                                        <td> {{file.path}} </td>
                                        <td>
                                            {{msToTime(file.duration)}}
                                        </td>
                                        <td>
                                            <a class="btn btn-primary" (click)="imagePreview(file.path)">
                                                <i class="icon icon-display">
                                                    Preview
                                                </i></a>
                                            <button type="button" class="btn btn-danger" (click)="edeleteImage(i)"><i
                                                    class="icon icon-trash"></i>
                                              Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr />
                        </div>
                    </div>
                    <div class="row" *ngIf="fileToUpload.length">
                        <div> New Added File(s) :
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Sr</th>
                                        <th>Image Name</th>
                                        <th>Duration</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let file of fileToUpload; let i = index">
                                        <td> {{ i + 1 }} </td>
                                        <td> {{file.name}} </td>
                                        <td *ngIf="file.type.substr(0,5) === 'image'">
                                            <p-inputMask [(ngModel)]="file.duration" name="duration" mask="99:99:99"
                                                placeholder="HH:mm:ss">
                                            </p-inputMask>
                                        </td>
                                        <td *ngIf="file.type.substr(0,5) === 'video'">
                                        </td>
                                        <td class="text-right" *ngIf="file.type.substr(0,5) === 'image'"><button
                                                type="button" class="btn btn-primary"
                                                (click)="showImagePreview(file)"><i class="icon icon-display"></i>
                                                Preview</button>
                                            <button type="button" class="btn btn-danger" (click)="deleteImage(i ,file.name)"><i
                                                    class="icon icon-trash"></i>
                                          Delete</button></td>

                                        <td class="text-right" *ngIf="file.type.substr(0,5) === 'video'"><button
                                                type="button" class="btn btn-primary"
                                                (click)="getConvertedFile(file.name)"><i class="icon icon-display"></i>
                                                Preview</button>
                                            <button type="button" class="btn btn-danger" (click)="deleteImage(i , file.name)"><i
                                                    class="icon icon-trash"></i>
                                              Delete</button></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3" align="center">
                                            <object *ngIf="isPreviewObject" [data]="imageUrl" height="auto"
                                                style="max-width:100%;width:auto;max-height:300px"></object>
                                            <img *ngIf="isPreviewImage" [src]="imageUrl" height="auto"
                                                style="max-width:100%;width:auto;max-height:300px">
                                            <video *ngIf="isPreviewVideo" height="auto"
                                                style="max-width:100%;width:auto;max-height:300px" controls loop
                                                autoplay>
                                                <source [src]="imageUrl" [type]="videoType">
                                                Your browser does not support the video tag.</video>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div align="center" *ngIf="!fileToUpload.length">
                        <object *ngIf="isPreviewObject" [data]="imageUrl" height="auto"
                            style="max-width:100%;width:auto;max-height:300px"></object>
                        <img *ngIf="isPreviewImage" [src]="imageUrl" height="auto"
                            style="max-width:100%;width:auto;max-height:300px">
                        <video *ngIf="isPreviewVideo" height="auto" style="max-width:100%;width:auto;max-height:300px"
                            autoplay controls loop>
                            <source [src]="imageUrl" [type]="videoType">
                            Your browser does not support the video tag.</video>
                    </div>
                    <br />
                    <div class="text-right">
                        <button type="submit" class="btn bg-teal-400 btn-labeled btn-labeled-right ml-10"><b><i
                                    class="icon-plus3"></i></b>
                            Update Schedule</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="display" [width]="650" [modal]="true" [minWidth]="767" [minY]="70" [responsive]="true"
    [baseZIndex]="10000">
    <p-header>
        Select Files
    </p-header>
    <div class="row" *ngIf="rootFile">
        <div class="col-md-4 col-sm-4">
            <div class="img_container" (click)="myFolder_click()">
                <img src="assets/images/folder/blank.png" (click)="myFolder_click()" height="120px" width="120px"
                    alt="My Folder" />
                <label>My Folder</label>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="img_container" (click)="myLibrary_click()">
                <img src="assets/images/folder/blank.png" (click)="myLibrary_click()" height="120px" width="120px"
                    alt="Library" />
                <label>Library</label>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="img_container">
                <img src="assets/images/folder/blank.png" height="120px" width="120px" (click)="image.click()"
                    alt="This PC" />
                <label>This PC</label>
                <input type="file" ([ngModel])="myfile" name="myfile" id="file" class="file-styled custom_file_select"
                    #image (change)="handleFileInput($event.target.files.item(0), 'PC')" accept="image/*,video/*"
                    required>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="myFile">
        <div class="col-sm-12">
            <i class="left-arrow icon-arrow-left8" (click)="rootFiles()"></i>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="img_container" (click)="getMyImagesLibrary()">
                <img src="assets/images/folder/picture.png" (click)="getMyImagesLibrary()" height="120px" width="120px"
                    alt="My Images" />
                <label>My Images</label>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="img_container">
                <img src="assets/images/folder/video.png" (click)="getMyAnimationLibrary()" height="120px" width="120px"
                    alt="My Animation" />
                <label>My Animation</label>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="libraryFile">
        <div class="col-sm-12">
            <i class="left-arrow icon-arrow-left8" (click)="rootFiles()"></i>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="img_container" (click)="getImageLibrary()">
                <img src="assets/images/folder/picture.png" height="120px" width="120px" alt="Image Library" />
                <label>Image Library</label>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="img_container">
                <img src="assets/images/folder/video.png" (click)="getAnimationLibrary()" height="120px" width="120px"
                    alt="Animation Library" />
                <label>Animation Library</label>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="myImageFile">
        <div class="col-sm-12">
            <i class="left-arrow icon-arrow-left8" (click)="myFolder_click()"></i>
        </div>
        <div class="col-sm-12">
            <div>
                <div class="row img_box">
                    <div class="col-sm-4 col-xs-4 img_lib" *ngFor="let image of fileExplorer| keyvalue; let i = index">
                        <div>
                            <img (click)="pickFile(image.value,image.key, 'folder')" [attr.src]="image.value">
                            <h4><span>{{image.key}}</span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="myAnimationFile">
        <div class="col-sm-12">
            <i class="left-arrow icon-arrow-left8" (click)="myFolder_click()"></i>
        </div>
        <div class="col-sm-12">
            <div>
                <div class="row img_box">
                    <div class="col-sm-4 col-xs-4 img_lib" *ngFor="let video of fileExplorer| keyvalue; let i = index">
                        <div>
                            <video height="auto" controls loop class="video-js vjs-big-play-centered" preload="auto"
                                data-setup="{}" height="auto" style="max-width:100%;width:auto;max-height:300px">
                                <source [src]="video.value" type="video/mp4">
                                <source [src]="video.value" type="video/mp4">
                                Your browser does not support the video tag.</video>
                            <h4><span (click)="pickFile(video.value,video.key, 'folder')">{{video.key}}</span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="imageLibraryFile">
        <div class="col-sm-12">
            <i class="left-arrow icon-arrow-left8" (click)="myLibrary_click()"></i>
        </div>
        <div class="col-sm-12">
            <div>
                <div class="row img_box">
                    <div class="col-sm-4 col-xs-4 img_lib" *ngFor="let image of fileExplorer| keyvalue; let i = index">
                        <div>
                            <img (click)="pickFile(image.value,image.key, 'library')" [attr.src]="image.value">
                            <h4><span>{{image.key}}</span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="animationLibraryFile">
        <div class="col-sm-12">
            <i class="left-arrow icon-arrow-left8" (click)="myLibrary_click()"></i>
        </div>
        <div class="col-sm-12">
            <div>
                <div class="row img_box">
                    <div class="col-sm-4 col-xs-4 img_lib" *ngFor="let video of fileExplorer| keyvalue; let i = index">
                        <div>
                            <video height="auto" controls loop class="video-js vjs-big-play-centered" preload="auto"
                                data-setup="{}" height="auto" style="max-width:100%;width:auto;max-height:300px">
                                <source [src]="video.value" type="video/mp4">
                                Your browser does not support the video tag.</video>
                            <h4><span (click)="pickFile(video.value,video.key, 'library')">{{video.key}}</span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-dialog>