<app-admin-header></app-admin-header>

<!-- Page container -->
<div class="page-container">

  <!-- Page content -->
  <div class="page-content">


    <!-- Main sidebar -->
    <div class="sidebar sidebar-main">
      <div class="sidebar-content">

        <!-- User menu -->
        <div class="sidebar-user">
          <div class="category-content">
            <div class="media">
              <a href="#" class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></a>
              <div class="media-body">
                <span class="media-heading text-semibold">{{ user_email }}</span>
                <div class="text-size-mini text-muted">
                  <i class="icon-user3 text-size-small"></i> &nbsp;{{ user_role }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /user menu -->


        <!-- Main navigation -->
        <div class="sidebar-category sidebar-category-visible">
          <div class="category-content no-padding">
            <ul class="navigation navigation-main navigation-accordion">

              <!-- Main -->
              <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
              <li><a href="" routerLink="/admin/dashboard"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
              <li class="active"><a href="" routerLink="/admin/users"><i class="icon-user-tie"></i> <span>Users</span></a></li>
              <li><a href="" routerLink="/admin/sign-setup"><i class="icon-cog3"></i> <span>Sign Setup</span></a></li>
              <!-- /main -->

            </ul>
          </div>
        </div>
        <!-- /main navigation -->

      </div>
    </div>
    <!-- /main sidebar -->

    <!-- Main content -->
    <div class="content-wrapper">


      <!-- Page header -->
      <div class="page-header page-header-default">
        <div class="page-header-content">
          <div class="page-title">
            <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Home</span> - Users</h4>
          </div>
          <div class="heading-elements">
          </div>
        </div>
        <div class="breadcrumb-line">
          <ul class="breadcrumb">
            <li><a href="" routerLink="/admin/dashboard"><i class="icon-home2 position-left"></i> Home</a></li>
            <li class="active">Users</li>
          </ul>
          <ul class="breadcrumb-elements">
          </ul>
        </div>
      </div>
      <!-- /page header -->

      <!-- Content area -->
      <div class="content">

        <!-- Individual column searching (text inputs) -->
        <div class="panel panel-flat">
          <div class="panel-heading">
            <h5 class="panel-title">Manage Users</h5>
            <div class="heading-elements">
              <ul class="icons-list">

                <!-- <li><a data-action="collapse"></a></li> -->
                <li> <a href="" routerLink="/admin/user/add">
                    <button class="btn btn-primary">Add User
                    </button>
                  </a>
                </li>
                <!-- <li><a data-action="close"></a></li> -->
              </ul>
            </div>
          </div>

          <div class="panel-body">
            <div class="col-md-12">
              <table datatable [dtOptions]="dtOptions" class="row-border hover">
                <thead>
                  <tr>
                    <th> First Name
                    </th>
                    <th> Last Name
                    </th>
                    <th> Email
                    </th>
                    <th> Phone
                    </th>
                    <th> Company Name
                    </th>
                    <th>Status</th>
                    <th class="text-center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of data; let i = index">
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.mobno }}</td>
                    <td>{{ user.companyname }}</td>
                    <td><span class="label label-success">Active</span></td>
                    <td class="text-center">
                      <ul class="icons-list">
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-menu9"></i>
                          </a>
                          <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="" routerLink="/admin/user/sign/{{ user.userid }}"><i class=" icon-display"></i>
                                Manage Sign</a></li>
                            <li><a href="" routerLink="/admin/user/edit/{{ user.userid }}"><i class="icon-pencil4"></i>
                                Edit</a></li>
                            <li><a href=""><i class=" icon-trash-alt"></i> Delete</a></li>
                          </ul>
                        </li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
            <thead>
              <tr>
                <th style="width: 20%">
                  <mfDefaultSorter by="name">Name</mfDefaultSorter>
                </th>
                <th style="width: 50%">
                  <mfDefaultSorter by="email">Email</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="age">Age</mfDefaultSorter>
                </th>
                <th style="width: 20%">
                  <mfDefaultSorter by="city">City</mfDefaultSorter>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of mf.data">
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td class="text-right">{{item.age}}</td>
                <td>{{item.city | uppercase}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="4">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table> -->

        </div>
        <!-- /individual column searching (text inputs) -->

      </div>
    </div>
  </div>
</div>
