<div class="login-container">

  <!-- Page container -->
  <div class="page-container">

    <!-- Page content -->
    <div class="page-content">

      <!-- Main content -->
      <div class="content-wrapper">

        <!-- Content area -->
        <div class="content">

          <!-- Password recovery -->
          <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="panel panel-body login-form">
              <div class="text-center">
                <div class="icon-object border-warning text-warning"><i class="icon-spinner11"></i></div>
                <h5 class="content-group">Password recovery <small class="display-block">We'll send you instructions in
                    email</small></h5>
              </div>

              <div class="form-group has-feedback has-feedback-left">
                <input type="email" placeholder="Email" class="form-control" name="email" [(ngModel)]="model.email"
                  #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
                <div class="form-control-feedback">
                  <i class="icon-user text-muted"></i>
                </div>
                <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                  <div *ngIf="email.errors.required">Email is required</div>
                  <div *ngIf="email.errors.email">Email must be a valid email address</div>
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn bg-blue btn-block">Reset password <i class="icon-arrow-right14 position-right"></i></button>
              </div>
              <!-- <div class="content-divider text-muted"><span></span></div> -->
              <a routerLink="/login" class="btn btn-link"><i class="icon-arrow-left13 position-left"></i> Back to
                login form</a>

              <!-- <div class="content-divider text-muted form-group"><span>Already have reset key ?</span></div>
              <a href="" routerLink='/reset-password' class="btn btn-default btn-block content-group">Next</a> -->

            </div>
          </form>
          <!-- /password recovery -->


          <!-- Footer -->
          <div class="footer text-muted text-center">
            &copy; 2018. <a href="#"> LED Project</a> by <a href="#" target="_blank">Narola Infotech</a>
          </div>
          <!-- /footer -->

        </div>
        <!-- /content area -->

      </div>
      <!-- /main content -->

    </div>
    <!-- /page content -->

  </div>
  <!-- /page container -->
</div>
