<app-header></app-header>
<div class="login-container">

  <!-- Page container -->
  <div class="page-container">

    <!-- Page content -->
    <div class="page-content">

      <!-- Main content -->
      <div class="content-wrapper">

        <!-- Content area -->
        <div class="content">

          <!-- Registration form -->
          <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="row">
              <div class="col-lg-6 col-lg-offset-3">
                <div class="panel registration-form">
                  <div class="panel-body">
                    <div class="text-center">
                      <div class="icon-object border-success text-success"><i class="icon-plus3"></i></div>
                      <h5 class="content-group-lg">Create account <small class="display-block">All fields are required</small></h5>
                    </div>

                    <div class="form-group has-feedback">
                      <input type="text" class="form-control" placeholder="Choose username" name="username" [(ngModel)]="model.username"
                        #username="ngModel" [ngClass]="{ 'is-invalid': f.submitted && username.invalid }" required>
                      <div class="form-control-feedback">
                        <i class="icon-user-plus text-muted"></i>
                      </div>
                      <div *ngIf="f.submitted && username.invalid" class="invalid-feedback">
                        <div *ngIf="username.errors.required">UserName is required</div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group has-feedback">
                          <input type="text" class="form-control" placeholder="First name" name="firstname" [(ngModel)]="model.firstname"
                            #firstname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstname.invalid }"
                            required>
                          <div class="form-control-feedback">
                            <i class="icon-user-check text-muted"></i>
                          </div>
                          <div *ngIf="f.submitted && firstname.invalid" class="invalid-feedback">
                            <div *ngIf="firstname.errors.required">First Name is required</div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group has-feedback">
                          <input type="text" class="form-control" placeholder="Last name" name="lastname" [(ngModel)]="model.lastname"
                            #lastname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastname.invalid }" required>
                          <div class="form-control-feedback">
                            <i class="icon-user-check text-muted"></i>
                          </div>
                          <div *ngIf="f.submitted && lastname.invalid" class="invalid-feedback">
                            <div *ngIf="lastname.errors.required">Last Name is required</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group has-feedback">
                          <input type="text" placeholder="Email" class="form-control" name="email" [(ngModel)]="model.email"
                            #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
                          <div class="form-control-feedback">
                            <i class="icon-mention text-muted"></i>
                          </div>
                          <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                            <div *ngIf="email.errors.required">Email is required</div>
                            <div *ngIf="email.errors.email">Email must be a valid email address</div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group has-feedback">
                          <input type="text" placeholder="Repeat Email" class="form-control" name="remail" [(ngModel)]="model.remail"
                            #remail="ngModel" [ngClass]="{ 'is-invalid': f.submitted && remail.invalid }" required
                            email />
                          <div class="form-control-feedback">
                            <i class="icon-mention text-muted"></i>
                          </div>
                          <div *ngIf="f.submitted && remail.invalid" class="invalid-feedback">
                            <div *ngIf="remail.errors.required">Email is required</div>
                            <div *ngIf="remail.errors.email">Email must be a valid email address</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group has-feedback">
                          <input type="password" placeholder="Password" class="form-control" name="password"
                            [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }"
                            required minlength="6" />
                          <div class="form-control-feedback">
                            <i class="icon-lock2 text-muted"></i>
                          </div>
                          <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                            <div *ngIf="password.errors.required">Password is required</div>
                            <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group has-feedback">
                          <input type="password" placeholder="Confirm Password" class="form-control" name="cpassword"
                            [(ngModel)]="model.cpassword" #cpassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && cpassword.invalid }"
                            required />
                          <div class="form-control-feedback">
                            <i class="icon-lock2 text-muted"></i>
                          </div>
                          <div *ngIf="f.submitted && cpassword.invalid" class="invalid-feedback">
                            <div *ngIf="cpassword.errors.required">Confirm Password is required</div>
                            <!-- <div *ngIf="cpassword.errors.minlength">Confirm Password must be at least 6 characters</div> -->
                            <!-- <div *ngIf="cpassword.errors">Confirm Password must be same as Password</div> -->
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group has-feedback">
                          <input type="tel" placeholder="Phone" class="form-control" name="phone" [(ngModel)]="model.phone"
                            #phone="ngModel" [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }" required />
                          <div class="form-control-feedback">
                            <i class="icon-phone text-muted"></i>
                          </div>
                          <div *ngIf="f.submitted && phone.invalid" class="invalid-feedback">
                            <div *ngIf="phone.errors.required">Phone is required</div>
                          </div>
                        </div>
                      </div>

                      <!-- <div class="col-md-6">
                        <div class="form-group has-feedback">
                          <input type="text" placeholder="Repeat Email" class="form-control" name="remail" [(ngModel)]="model.remail"
                            #remail="ngModel" [ngClass]="{ 'is-invalid': f.submitted && remail.invalid }" required
                            email />
                          <div class="form-control-feedback">
                            <i class="icon-user text-muted"></i>
                          </div>
                          <div *ngIf="f.submitted && remail.invalid" class="invalid-feedback">
                            <div *ngIf="remail.errors.required">Email is required</div>
                            <div *ngIf="remail.errors.email">Email must be a valid email address</div>
                          </div>
                        </div>
                      </div> -->
                    </div>

                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" class="styled" checked="checked">
                          Send me <a href="#">test account settings</a>
                        </label>
                      </div>

                      <div class="checkbox">
                        <label>
                          <input type="checkbox" class="styled" checked="checked">
                          Subscribe to monthly newsletter
                        </label>
                      </div>

                      <div class="checkbox">
                        <label>
                          <input type="checkbox" class="styled">
                          Accept <a href="#">terms of service</a>
                        </label>
                      </div>
                    </div>

                    <div class="text-right">
                      <a href="" routerLink='/login' class="btn btn-link"><i class="icon-arrow-left13 position-left"></i>
                        Back
                        to login form</a>
                      <button type="submit" class="btn bg-teal-400 btn-labeled btn-labeled-right ml-10"><b><i class="icon-plus3"></i></b>
                        Create account</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <!-- /registration form -->

          <!-- Footer -->
          <div class="footer text-muted text-center">
            &copy; 2018. <a href="#"> LED ADVT</a> by <a href="#" target="_blank">Narola Infotech</a>
          </div>
          <!-- /footer -->

        </div>
        <!-- /content area -->

      </div>
      <!-- /main content -->

    </div>
    <!-- /page content -->

  </div>
  <!-- /page container -->
</div>
<script type="text/javascript" src="assets/js/pages/login.js"></script>
