<!-- <div *ngIf="SCHE.SCHE_CONT === repeat">Continue</div>
<div *ngIf="SCHE.SCHE_DAYL === repeat">Daily</div> -->

<app-header></app-header>

<!-- Page container -->
<div class="page-container">

  <!-- Page content -->
  <div class="page-content">

    <!-- Main sidebar -->
    <div class="sidebar sidebar-main">
      <div class="sidebar-content">

        <!-- User menu -->
        <div class="sidebar-user">
          <div class="category-content">
            <div class="media">
              <a href="#" class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></a>
              <div class="media-body">
                <span class="media-heading text-semibold">{{ user_email }}</span>
                <div class="text-size-mini text-muted">
                  <i class="icon-user3 text-size-small"></i> &nbsp;{{ user_role }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /user menu -->

        <!-- Main navigation -->
        <div class="sidebar-category sidebar-category-visible">
          <div class="category-content no-padding">
            <ul class="navigation navigation-main navigation-accordion">

              <!-- Main -->
              <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
              <li><a href="" routerLink="/home"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
              <li class="active"><a href="" routerLink="/schedules"><i class="icon-calendar5"></i> <span>Schedules</span></a></li>
              <!-- /main -->

            </ul>
          </div>
        </div>
        <!-- /main navigation -->

      </div>
    </div>
    <!-- /main sidebar -->


    <!-- Main content -->
    <div class="content-wrapper">


      <!-- Page header -->
      <div class="page-header page-header-default">
        <div class="page-header-content">
          <div class="page-title">
            <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Schedules</span> - Add
              Schedule ( {{repeat}} )</h4>
          </div>

          <div class="heading-elements">

          </div>
        </div>

        <div class="breadcrumb-line">
          <ul class="breadcrumb">
            <li><a href="" routerLink="/home"><i class="icon-home2 position-left"></i> Home</a></li>
            <li><a href="" routerLink="/schedules"><i class="icon-task position-left"></i> Schedule</a></li>
            <li class="active">Add Schedule ( {{ repeat }} ) </li>
          </ul>

        </div>
      </div>
      <!-- /page header -->

      <!-- Content area -->
      <div class="content">

        <div class="panel panel-flat">
          <div class="panel-heading">
            <h5 class="panel-title">{{ repeat }} Schedule</h5>
            <div class="heading-elements">

            </div>
          </div>

          <div class="panel-body">


            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group has-feedback">
                    <input type="number" class="form-control" placeholder="Priority" name="priority" [(ngModel)]="model.priority"
                      #priority="ngModel" [ngClass]="{ 'is-invalid': f.submitted && priority.invalid }" required>
                    <div class="form-control-feedback">
                      <i class="icon-display text-muted"></i>
                    </div>
                    <div *ngIf="f.submitted && priority.invalid" class="invalid-feedback">
                      <div *ngIf="priority.errors.required">Priority is required</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group has-feedback">
                    <input type="date" class="form-control" placeholder="Start Date" name="startdate" [(ngModel)]="model.startdate"
                      #startdate="ngModel" [ngClass]="{ 'is-invalid': f.submitted && startdate.invalid }" required>
                    <div class="form-control-feedback">
                      <i class="icon-screen3 text-muted"></i>
                    </div>
                    <div *ngIf="f.submitted && startdate.invalid" class="invalid-feedback">
                      <div *ngIf="startdate.errors.required">Start Date is required</div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group has-feedback">
                    <input type="date" class="form-control" placeholder="End Date" name="enddate" [(ngModel)]="model.enddate"
                      #enddate="ngModel" [ngClass]="{ 'is-invalid': f.submitted && enddate.invalid }" required>
                    <div class="form-control-feedback">
                      <i class="icon-screen3 text-muted"></i>
                    </div>
                    <div *ngIf="f.submitted && enddate.invalid" class="invalid-feedback">
                      <div *ngIf="enddate.errors.required">End Date is required</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group has-feedback">
                    <input type="time" placeholder="Start Time" class="form-control" name="starttime" [(ngModel)]="model.starttime"
                      #starttime="ngModel" [ngClass]="{ 'is-invalid': f.submitted && starttime.invalid }" required />
                    <div class="form-control-feedback">
                      <i class="icon-move-horizontal text-muted"></i>
                    </div>
                    <div *ngIf="f.submitted && starttime.invalid" class="invalid-feedback">
                      <div *ngIf="starttime.errors.required">Start Time is required</div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group has-feedback">
                    <input type="time" placeholder="End Time" class="form-control" name="endtime" [(ngModel)]="model.endtime"
                      #endtime="ngModel" [ngClass]="{ 'is-invalid': f.submitted && endtime.invalid }" required />
                    <div class="form-control-feedback">
                      <i class="icon-move-horizontal text-muted"></i>
                    </div>
                    <div *ngIf="f.submitted && endtime.invalid" class="invalid-feedback">
                      <div *ngIf="endtime.errors.required">Start Time is required</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="SCHE.SCHE_DAYL === repeat">
                <div class="col-md-6">
                  <div class="form-group has-feedback">
                    <input type="number" placeholder="Every N-th Day" class="form-control" name="nthday" [(ngModel)]="model.nthday"
                      #nthday="ngModel" [ngClass]="{ 'is-invalid': f.submitted && nthday.invalid }" required />
                    <div class="form-control-feedback">
                      <i class="icon-move-horizontal text-muted"></i>
                    </div>
                    <div *ngIf="f.submitted && nthday.invalid" class="invalid-feedback">
                      <div *ngIf="nthday.errors.required">Every N-th Day is required</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">

                  <!-- <input type='file' (change)="onSelectFile($event)" multiple> -->

                  <input type="file" placeholder="Browse Images" name="myfile" [(ngModel)]="model.myfile" #file #myfile="ngModel"
                    class="file-input" data-show-upload="false" data-show-caption="true" data-show-preview="true"
                    [ngClass]="{ 'is-invalid': f.submitted && myfile.invalid }" multiple="multiple" (change)="selectFiles($event)"
                    required>

                  <!-- <input type="file" name="myfile" class="file-input" multiple="multiple" data-show-upload="false"
                    #file #myfile="ngModel" [(ngModel)]="model.myfile" placeholder="Browse Images" data-show-caption="true"
                    ng2FileSelect [uploader]="myfile" /> -->
                  <div *ngIf="f.submitted && myfile.invalid" class="invalid-feedback">
                    <div *ngIf="myfile.errors.required">File(s) required</div>
                  </div>

                </div>
              </div>
              <br />
              <div class="text-right">
                <button type="submit" class="btn bg-teal-400 btn-labeled btn-labeled-right ml-10"><b><i class="icon-plus3"></i></b>
                  Create Schedule</button>
              </div>

            </form>


          </div>


        </div>


        <!-- Footer -->
        <div class="footer text-muted text-center">
          &copy; 2018. <a href="#"> LED ADVT</a> by <a href="#" target="_blank">Narola Infotech</a>
        </div>
        <!-- /footer -->

      </div>
      <!-- /content area -->

    </div>
    <!-- /main content -->

  </div>
  <!-- /page content -->

</div>
<!-- /page container -->
