
<div class="content-wrapper">
  <!-- Page header -->
  <div class="page-header page-header-default">
    <div class="page-header-content">
      <div class="page-title">
        <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Schedules</span> - Delete</h4>
      </div>

    </div>

    <div class="breadcrumb-line">
      <ul class="breadcrumb">
        <li><a href="" routerLink="/user/home"><i class="icon-home2 position-left"></i> Home</a></li>
        <li class="active"> Delete Schedule</li>
      </ul>

    </div>
  </div>
  <!-- /page header -->
  <div class="content">

    <div class="panel panel-flat">
      <div class="panel-heading">
        <h5 class="panel-title">Delete Schedules From Sign</h5>
        <div class="heading-elements">
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <p-steps [(activeIndex)]="activeIndex" [model]="items"></p-steps>
          </div>
        </div>
      </div>
      <div *ngIf="activeIndex==0">
        <div class="row">
          <div class="col-sm-12 sign_table_container">
            <div class="table-responsive sign_table_wrapper">
              <table class="table table-strip table_schedule sign_table">
                <thead>
                  <tr>
                    <th>Select</th>
                    <th>Name</th>
                    <th class="size_th">Size</th>
                    <th>status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let sign of mySigns| paginate: { itemsPerPage: 5, currentPage: p2, id: 'first' } ; let i = index">
                    <td>
                      <button class="btn btn-link" (click)="getSchedules(sign)"><i class="icon-enter6"></i></button>
                    </td>
                    <td>{{sign.name}}</td>
                    <td>{{sign.sizeX}} X {{sign.sizeY}}</td>
                    <td>{{sign.status===true?'Updated':'Fail'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-sm-12">
            <pagination-controls class="my-pagination" responsive="true" id="first" (pageChange)="p1 = $event">
            </pagination-controls>
          </div>

        </div>
      </div>

      <div *ngIf="activeIndex==1">
        <div class="row select_schedule_section">
          <button class="button btn-link" (click)="BakcToSign()"><i class="icon-arrow-left7"></i> Back To Sign</button>
          <button *ngIf="filePropertiesList.length > 0" class="btn btn-primary" (click)="deleteSchedule()">Delete</button>
          <div class="col-sm-12 sign_table_container">
            <div class="table-responsive sign_table_wrapper">
              <table class="table table-strip table_schedule sign_table">
                <thead>
                  <tr>
                    <th>Select</th>
                    <th>Name</th>
                    <th class="size_th">Size</th>
                    <th>Last Update</th>
                    <th>Schedule</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="mySchedules.length < 1">
                    <td colspan="6">
                      <div class="text-center" [ngStyle]="{'color':'red'}">No Record Found</div>
                    </td>
                  </tr>
                  <tr *ngFor="let schedule of mySchedules| paginate: { itemsPerPage: 10, currentPage: p2, id: 'second' } ; let i = index">
                    <td>
                      <p-checkbox name="days" value="{{i}}" [(ngModel)]="filePropertiesList"></p-checkbox>
                    </td>
                    <td>{{schedule.name}}</td>
                    <td>{{schedule.size}}</td>
                    <td>{{schedule.lastModification | date: 'dd-MMM-yyyy hh:mm:ss a'}}</td>
                    <td>{{schedule.valid>0?'Active':''}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-sm-12">
            <pagination-controls class="my-pagination" responsive="true" id="second" (pageChange)="p2 = $event">
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

