
    <!-- Main content -->
    <div class="content-wrapper">


      <!-- Page header -->
      <div class="page-header page-header-default">
        <div class="page-header-content">
          <div class="page-title">
            <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Schedules</span> - View
              Schedule ( {{repeat}} )</h4>
          </div>

          <div class="heading-elements">

          </div>
        </div>

        <div class="breadcrumb-line">
          <ul class="breadcrumb">
            <li><a href="" routerLink="/home"><i class="icon-home2 position-left"></i> Home</a></li>
            <li><a href="" routerLink="/user/schedules"><i class="icon-task position-left"></i> Schedule</a></li>
            <li class="active">View Schedule ( {{ repeat }} ) </li>
          </ul>

        </div>
      </div>
      <!-- /page header -->

      <!-- Content area -->
      <div class="content">

        <div class="panel panel-flat">
          <div class="panel-heading">
            <h5 class="panel-title">{{ repeat }} Schedule</h5>
            <div class="heading-elements">

            </div>
          </div>

          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-body border-top-info">
                  <!-- <h6 class="no-margin text-semibold">Horizontal description list</h6>
                  <p class="content-group-sm text-muted">Horizontal list of terms with their associated descriptions.</p> -->

                  <div class="well">
                    <dl class="dl-horizontal">
                      <dt>Schedule Name</dt>
                      <dd>{{ dto?.scheduleName }}</dd>
                      <dt>Priority</dt>
                      <dd>{{ dto?.priority }}</dd>
                      <hr />
                      <div *ngIf="CONFIG.SCHE_YEAR === repeat">
                        <dt>First Year</dt>
                        <dd>{{dto?.startDate.year}}</dd>
                        <dt>Last Year</dt>
                        <dd>{{dto?.endDate.year}}</dd>
                        <dt>On Date</dt>
                        <dd>{{ dto?.scheduleMonthDays - 1 }} {{ CONFIG.MONTHS[dto?.scheduleMonths - 1 ] }}</dd>
                      </div>
                      <div *ngIf="CONFIG.SCHE_YEAR !== repeat">
                        <dt>Start Date</dt>
                        <dd>{{ dto?.startDate.dayOfMonth }} {{ dto?.startDate.month }} {{dto?.startDate.year}}</dd>
                        <dt>End Date</dt>
                        <dd>{{ dto?.endDate.dayOfMonth }} {{ dto?.endDate.month }} {{dto?.endDate.year}}</dd>
                      </div>
                      <hr />
                      <dt>Start Time</dt>
                      <dd>{{ dto?.startTime }}</dd>
                      <dt>End Time</dt>
                      <dd>{{ dto?.endTime }}</dd>
                      <div *ngIf="CONFIG.SCHE_DAYL === repeat">
                        <hr />
                        <dt>N-th Day</dt>
                        <dd>{{ dto?.moduloYDay }}</dd>
                      </div>
                      <div *ngIf="CONFIG.SCHE_WEEK === repeat">
                        <hr />
                        <dt>Every N-th Week</dt>
                        <dd>{{ dto.moduloWeek }}</dd>
                        <dt>Week Days</dt>
                        <dd><span *ngFor="let day of dto?.weekDays">{{ CONFIG.DAYS[day] }}&nbsp;</span></dd>
                      </div>
                      <div *ngIf="CONFIG.SCHE_MONT === repeat">
                        <hr />
                        <dt>On Month Day</dt>
                        <dd>{{ dto?.scheduleMonthDays === 1 ? '-' : dto?.scheduleMonthDays }}</dd>
                        <!-- <dt>Week / Month Days</dt>
                        <dd></dd> -->
                        <dt>On Week Days</dt>
                        <dd><i *ngIf="dto?.weekDays.length === 0">-</i>
                          <span *ngFor="let day of dto?.weekDays">{{
                            CONFIG.DAYS[day] }}&nbsp;</span></dd>
                        <dt>On Month</dt>
                        <dd><span *ngFor="let month of dto?.scheduleMonths">{{ CONFIG.MONTHS[month] }}&nbsp;</span></dd>
                      </div>
                    </dl>
                  </div>
                  <!-- <div *ngFor="let file of files; let i = index">
                    <img [src]="file.path" style="max-width:100%;width:auto;height:100px" alt={{file.path}}>&nbsp;
                  </div> -->
                  <ul *ngFor="let file of files; let i = index">
                    <li (click)="imagePreview(file.path)">{{file.path}}</li>
                  </ul>
                  <i><small>Note: Click on image name to show preview</small></i>
                  <div class="text-center">
                    <img *ngIf="isPreview" [src]="imageUrl" alt="image" style="width:auto;height:auto">
                  </div>
                  <!-- Get File Types -->
                  <!-- <input type="file" id="file-selector" (change)="onChangeInput($event)">
                  <div id="files"></div> -->
                </div>
              </div>
            </div>
          </div>

        </div>


        <!-- Footer -->
        <app-footer></app-footer>
        <!-- /footer -->

      </div>
      <!-- /content area -->

    </div>
    <!-- /main content -->
