/* @import "~angular-notifier/styles"; */
@import "../node_modules/angular-notifier/styles";

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Tahoma", "Trebuchet MS", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
}

* {
  box-sizing: inherit;
}

/* APP */

.app {
  display: block;
  padding: 30px;
}

/* HEADINGS */

h1 {
  font-size: 30px;
  padding-bottom: 10px;
}

h2 {
  margin-top: 40px;
  font-size: 18px;
}

/* BUTTONS */

.button {
  display: inline-block;
  padding: 11px 16px 10px;
  margin-right: 4px;
  background: none;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: background-color .2s ease;
  transition: background-color .2s ease;
}

.button--primary {
  background-color: #2B90D9;
  color: #FFF;
}

.button--primary:hover,
.button--primary:focus,
.button--primary:active {
  background-color: #2273AD;
}

.button--secondary {
  background-color: #DDD;
  color: #333;
}

.button--secondary:hover,
.button--secondary:focus,
.button--secondary:active {
  background-color: #CACACA;
}

/****** DATA TABLE STYLE PRIMENG *********/

/*
   server-side-angular-way.component.css
*/
.no-data-available {
  text-align: center;
}

/*
     src/styles.css (i.e. your global style)
  */
.dataTables_empty {
  display: none;
}

/* You can add global styles to this file, and also import other style files */


.page-container {
  height: calc(100% - 48px);
}

.size_th {
  width: 110px;
}

// .sign_table{    min-width: 500px;}
body .ui-state-disabled {
  opacity: 1 !important;
}

.table.sign_table>thead>tr>th {
  border-bottom: 1px solid #bbb;
  background: #f1f1f1;
}

.sign_table_wrapper {
  padding: 15px 20px;
}

.sign_table_wrapper table {
  border: 1px solid #ddd;
}

body .ui-steps:before {

  border-top: 1px solid #f7f3f3 !important;
}

body .ui-steps .ui-steps-item .ui-menuitem-link .ui-steps-number {
  width: 35px !important;
  height: 35px !important;
  line-height: 35px !important;
}

.left-arrow {
  width: 30px;
  height: 30px;
  background-color: #272727;
  border-radius: 50%;
  line-height: 30px !important;
  margin-bottom: 20px;
  color: #fff;
  box-shadow: 1px 2px 9px #00acea;
}

.ui-tabview .ui-tabview-panels {
  float: left;
  width: 100%;
}

.page-content {
  height: 100%;
}

.content-wrapper {
  height: 100%;
  position: relative;
}

.content-wrapper .home_logo {
  position: absolute;
  max-width: 90%;
  max-height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// .footer {
//   position: relative;
//   margin-top: 30px;
// }

// .form-group .ui-calendar .ui-datepicker {
//     display: block !important;
//     z-index: 1006 !important;
//     top: -204.5px !important;
// }

//responsive css

@media (max-width: 991px) {
  .footer {
    position: relative;
    margin-top: 30px;
    bottom: unset;
  }

  .my-pagination[_ngcontent-c5] .ngx-pagination {
    margin-top: 12px;
  }

  .img_container {
    border: 1px solid #ddd;
    padding: 15px 15px 0 15px;
    background: #f1ecec;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    margin: 0 auto 20px auto;
  }
}

@media (min-width: 769px) {
  .page-content {
    height: 100%;
    width: 100%;
    vertical-align: top;
  }

  .content-wrapper {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 260px);
  }

  .sidebar-xs .content-wrapper {
    width: calc(100% - 60px);
  }

  .sidebar {
    display: inline-block;
    vertical-align: top;
    width: 260px;
    min-height: 100%;
  }

}

// @media (max-width: 450px) {
//   .page-content {
//     display: table-row;
//   }

//   .content-wrapper {
//     display: table-cell;
//   }

// }

@media (max-width: 767px) {

  .small-screen {
    background: #007ad9 !important;
    width: 40px;
    text-align: center;
    padding: 3px 1px;
    color: #fff;
  }

  .content-wrapper,
  .page-content {
    display: block !important;
  }

  .sign_table_wrapper {
    padding: 0;
  }

  .sign_table_container {
    padding: 0 30px;
  }

  body .ui-dialog {

    min-width: unset !important;
    width: 100% !important;
  }

  .img_container {
    width: 275px;
    margin: 0 auto 20px auto;
  }
}

.black-overlay {
  position: fixed !important;
  bottom: 0;
}

.loading-text {
  position: fixed !important;
}

.form-label {
  font-weight: 300;
}

.custom_file_select {
  display: none !important;
}

.img_container {
  border: 1px solid #ddd;
  padding: 15px 15px 0 15px;
  background: #f1ecec;
  border-radius: 5px;
  text-align: center;
  max-width: 100%;
}

body .ui-dialog .ui-dialog-content {
  background-color: #ffffff !important;
  color: #333333 !important;
  border: none !important;
  padding: 31px 20px 90px 20px !important;
  max-height: 500px;
  overflow: auto;
  margin-bottom: 20px;
}

body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close:after {
  content: none !important;
}

body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon {
  color: #fff !important;
  margin-top: -5px !important;
}

body .ui-dialog .ui-dialog-titlebar {
  border: none !important;
  background-color: #333333 !important;
}

body .ui-dialog .ui-dialog-titlebar .ui-dialog-title {
  font-size: 18px;
  color: #fff;
}

body .ui-dialog {
  border: none !important;
}

.img_container img {
  width: 54%;
  height: auto;
  margin: 0 auto 10px auto;
}

.img_container label {
  text-align: center;
  display: block;
  margin: 0;
  padding: 10px;
  font-size: 18px;
  border-top: 1px solid #ddd;
}

.img_box.d-flex {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 0;
}

.img_lib-img {
  overflow: hidden;
  height: 200px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background: #f9f9f9;
}

.img_box img {
  max-height: 135px;
  max-width: 100%;
  text-align: center;
}

.img_lib-body h4 {
  text-align: center;
  text-transform: uppercase;
  color: #333;
  font-size: 14px;
  line-height: normal;
  margin: 10px 0 0;
}

.img_box>div {
  padding: 10px;
}

.image-wrapper,
.video-wrapper {
  padding: 10px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, .15);
  height: 180px;
  position: relative;
  text-align: center;
  border-radius: 5px;
}

.video-wrapper {
  height: 200px;
}

.video-wrapper .video-js {
  max-width: 100%;
  width: auto;
  max-height: 300px;
}

.img_box .image-wrapper h4,
.img_box .img_lib h4 {
  line-height: 20px;
  margin: 0;
  font-size: 13px;
  position: absolute;
  bottom: 10px;
  width: calc(100% - 20px);
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: .04em;
  text-transform: uppercase;
  color: #333;
}

.label-ROLE_USER {
  border-color: #4CAF50;
  background: #4CAF50;
}

.label-ROLE_SUB_USER {
  border-color: #2196F3;
  background: #2196F3;
}

.label-ROLE_ADMIN {
  border-color: #F44336;
  background: #F44336;
}

.fileUpload {
  width: 100%;
}

.user-profile-default {
  line-height: 32px !important;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  color: #263238;
  font-size: 24px !important;
}

.ui-multiselect .ui-multiselect-label {
  margin-bottom: 0px;
}

.navbar .navbar-header .navbar-logo {
  float: left;
  padding: 5px 0 5px 10px;
  height: 46px;
}

.announcement-wrapper {
  padding: 10px 0;
  background: rgb(222, 235, 255);
  color: #333333;
  position: relative;
}

.announcement-detail {
  padding: 0 30px;
}

.announcement-wrapper p {
  margin-bottom: 0;
}

.announcement-wrapper p.subject {
  font-weight: 500;
}

.announcement-wrapper i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.announcement-wrapper i.icon-megaphone {
  left: 0;
  font-size: 18px;
}

.announcement-wrapper i.icon-cross {
  right: 0;
  cursor: pointer;
}

.announcement-wrapper i.icon-cross::before {
  background: #333;
  border-radius: 50%;
  color: #fff;
}

.invalid-feedback {
  color: red;
  font-style: 12px;
}

.form-control {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

@media (max-width: 767px) {

  body .ui-dialog {
    bottom: 0 !important;
    overflow: auto !important;
    top: 0 !important;

  }

  body .ui-dialog .ui-dialog-titlebar {
    position: absolute !important;
    top: 0 !important;
    z-index: 999 !important;
    right: 0 !important;
    width: 100% !important;
  }

  body .ui-dialog .ui-dialog-content {
    margin-top: 60px !important;
  }

  body .ui-dialog .ui-dialog-content {
    max-height: unset;
  }
}



@media all and (-ms-high-contrast:none) {
  .sidebar {
    position: absolute;
    left: 0;
    top: 0;
  }

  .content-wrapper {
    width: calc(100% - 0px);
    padding-left: 260px;
  }

}

@supports (-ms-ime-align:auto) {
  .sidebar {
    position: absolute;
    left: 0;
    top: 0;
  }

  .content-wrapper {
    width: calc(100% - 0px);
    padding-left: 260px;
  }
}
