<!-- Main content -->
<div class="content-wrapper">
    <!-- Page header -->
    <div class="page-header page-header-default">
        <div class="page-header-content">
            <div class="page-title">
                <h4>
                    <i class="icon-arrow-left52 position-left"></i>
                    <span class="text-semibold">Users</span> - {{(userId) ? 'Edit User' : 'Add New User'}}
                </h4>
            </div>
            <div class="heading-elements"></div>
        </div>

        <div class="breadcrumb-line">
            <ul class="breadcrumb">
                <li><a href="" routerLink="/admin/dashboard"><i class="icon-home2 position-left"></i> Home</a></li>
                <li><a href="" routerLink="/admin/users"><i class="icon-user-tie position-left"></i>Users</a></li>
                <li class="active">{{(userId) ? 'Edit User' : 'Add User'}}</li>
            </ul>
            <ul class="breadcrumb-elements"></ul>
        </div>
    </div>
    <!-- /page header -->

    <!-- Content area -->
    <div class="content">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">{{(userId) ? 'Edit User' : 'Add User'}}</h5>
                <div class="heading-elements">
                    <ul class="icons-list"></ul>
                </div>
            </div>
            <div class="panel-body">
                <!-- Registration form -->
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate
                    enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" *ngIf="!userId">
                                <ng-container *ngFor="let userType of userTypes; let i = index;">
                                    <p-radioButton name="group1" value="{{userType.role}}" label="{{userType.label}}"
                                        [(ngModel)]="selectedRole" inputId="userRole_{{i}}">
                                    </p-radioButton> &nbsp;
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="selectedRole === 'ROLE_SUB_USER'">
                        <div class="col-md-6 ui-fluid" *ngIf="userData.length > 0">
                            <div class="form-group has-feedback ui-fluid">
                                <label class="form-label">Parent user : &nbsp;</label>
                                <div *ngIf="!userId">
                                    <p-dropdown name="parentId" [options]="userData" #parentId="ngModel"
                                        required [(ngModel)]="selectedParentId" placeholder="Select a user"
                                        optionLabel="name" (ngModelChange)="displaySign(selectedParentId);"
                                        [showClear]="true"></p-dropdown>
                                </div>
                                <label *ngIf="userId"> {{usersResponse[model['parentId']]}}</label>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label class="form-label">First name</label>
                                <input type="text" class="form-control" placeholder="First name" name="firstname"
                                    [(ngModel)]="model.firstname" #firstname="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && firstname.invalid }" required>
                                <div class="form-control-feedback">
                                    <i class="icon-user-check text-muted"></i>
                                </div>
                                <div *ngIf="f.submitted && firstname.invalid" class="invalid-feedback">
                                    <div *ngIf="firstname.errors.required">First Name is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label class="form-label">Last name</label>
                                <input type="text" class="form-control" placeholder="Last name" name="lastname"
                                    [(ngModel)]="model.lastname" #lastname="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && lastname.invalid }" required>
                                <div class="form-control-feedback">
                                    <i class="icon-user-check text-muted"></i>
                                </div>
                                <div *ngIf="f.submitted && lastname.invalid" class="invalid-feedback">
                                    <div *ngIf="lastname.errors.required">Last Name is required</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label class="form-label">Email</label>
                                <input type="text" placeholder="Email" class="form-control" name="email"
                                    [(ngModel)]="model.email" #email="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
                                <div class="form-control-feedback">
                                    <i class="icon-mention text-muted"></i>
                                </div>
                                <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                                    <div *ngIf="email.errors.required">Email is required</div>
                                    <div *ngIf="email.errors.email">Email must be a valid email address</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" *ngIf="selectedRole !== 'ROLE_SUB_USER'">
                            <div class="form-group has-feedback">
                                <label class="form-label">Company name:</label>
                                <input type="text" placeholder="Company Name" class="form-control" name="company"
                                    [(ngModel)]="model.companyname" #company="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && company.invalid }" required />
                                <div class="form-control-feedback">
                                    <i class="icon-briefcase text-muted"></i>
                                </div>
                                <div *ngIf="f.submitted && company.invalid" class="invalid-feedback">
                                    <div *ngIf="company.errors.required">Company name is required</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row" *ngIf="selectedRole !== 'ROLE_SUB_USER'">
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label class="form-label">City</label>
                                <input type="text" placeholder="City" class="form-control" name="city"
                                    [(ngModel)]="model.city" #city="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && city.invalid }" required />
                                <div class="form-control-feedback">
                                    <i class="icon-city text-muted"></i>
                                </div>
                                <div *ngIf="f.submitted && city.invalid" class="invalid-feedback">
                                    <div *ngIf="city.errors.required">City is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label class="form-label">State</label>
                                <input type="text" placeholder="State" class="form-control" name="state"
                                    [(ngModel)]="model.state" #state="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && state.invalid }" required />
                                <div class="form-control-feedback">
                                    <i class="icon-map text-muted"></i>
                                </div>
                                <div *ngIf="f.submitted && state.invalid" class="invalid-feedback">
                                    <div *ngIf="state.errors.required">State is required</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf="selectedRole !== 'ROLE_SUB_USER'">
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label class="form-label">Phone:</label>
                                <input type="tel" placeholder="Phone" class="form-control" name="phone"
                                    [(ngModel)]="model.mobno" #phone="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }" required
                                    maxlength="10" />
                                <div class="form-control-feedback">
                                    <i class="icon-phone text-muted"></i>
                                </div>
                                <div *ngIf="f.submitted && phone.invalid" class="invalid-feedback">
                                    <div *ngIf="phone.errors.required">Phone is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group has-feedback">
                                <label class="form-label">Select Logo</label>
                                <input type="file" ([ngModel])="profilePic" name="profilePic"
                                    class="fileUpload file-styled" #profilePic
                                    (change)="handleFileInput($event.target.files.item(0))" accept="image/*">
                            </div>
                        </div>

                    </div>
                    <div class="row" *ngIf="selectedRole === 'ROLE_SUB_USER'">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Allow Permission</label>
                                <div>
                                    <p *ngFor="let permission of permissions">
                                        <p-checkbox name="privileges" value="{{permission.privilegeId}}"
                                            label="{{permission.privilegeName}}" [(ngModel)]="model['privileges']">
                                        </p-checkbox>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-feedback ui-fluid " *ngIf="signData.length > 0 && selectedParentId ">
                                <label class="form-label">Assign Sign</label>
                                <div>
                                    <p-multiSelect [options]="signData" [(ngModel)]="selectedSigns" required
                                        defaultLabel="Select Sign" selectedItemsLabel="{0} items selected"
                                        [panelStyle]="{minWidth:'10em'}" maxSelectedLabels=0 optionLabel="name"
                                        name="userSigns" #userSigns="ngModel">
                                    </p-multiSelect>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" *ngIf="selectedRole === 'ROLE_SUB_USER'">
                            <div class="form-group"
                                *ngIf="selectedSigns && selectedSigns.length > 0 && selectedParentId">
                                <label class="form-label">Selected sign:</label>
                                <ul>
                                    <li *ngFor="let userSign of selectedSigns">{{userSign['name']}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="text-right">
                        <button type="submit" [disabled]="!f.form.valid"
                            class="btn bg-teal-400 btn-labeled btn-labeled-right ml-10">
                            <b><i class="icon-plus3"></i></b>
                            {{(userId) ? 'Edit Account' : 'Create account'}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>